@import "../../variables.scss";

.technologies {
    margin-bottom: 50px;
    padding: 0 30px;
}

.technologies__inner {
    margin: 0 auto;
    max-width: 1280px;
    gap: 20px;
}

.technologies__title {
    display: inline-block;
    margin: 0;
    margin-bottom: 150px;
    font-size: 90px;	
    color: #fff;
    background: -webkit-linear-gradient(45deg, #9f007f, #01cb7a 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-reflect: below -10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));

    @media screen and (max-width: $vp-1024) {
        margin-bottom: 130px;
        font-size: 60px;
    }

    @media screen and (max-width: $vp-768) {
        margin-bottom: 100px;
        font-size: 40px;
    }
}

.technologies__list-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    @media screen and (max-width: $vp-768) {
        flex-direction: column;
        gap: 30px;
    }

    @media screen and (max-width: $vp-375) {
        gap: 50px;
    }
}
