.porfolio__item {
    padding: 10px 10px 10px 50%;

    &:nth-child(even) {
        padding-right: 50%;
        padding-left: 10px;
    }
}

.portfolio__item-title {
    opacity: 0;
    transform: translate(0, -120%);
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &--animated {
        opacity: 1;
        transform: translate(0, 0%);
        transition: all 0.3s ease-in-out;
    }
}

.porfolio__item-inner {
    padding: 50px;
    color: rgb(255, 255, 255);
    background-color: #7d2b6d;
    border-radius: 30px;
}

.porfolio__item:nth-child(even) .porfolio__item-inner {
        
    background: linear-gradient(90deg, #2dbf82, #963583 70%);
    transition: all 0.8s ease-in;

    &:hover {
        background:  #963583;
        transition: all 0.8s ease-in;
    }
}

.porfolio__link {
    color: inherit;
    text-decoration: none;
}
