.icon {
    position: absolute;
    bottom: 30%;
    left: 5%;
    width: 50px;
    height: 50px;
    transform: rotate(-15deg);
    animation-name: bath-rotating;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #cb3bbd;
        transition: all 0.3s ease-in-out;
    }
}


@keyframes bath-rotating {
    0% {
        transform: rotate(-25deg);
    }
    25% {
    }

    40% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate-(0deg);
    }
    100% {
        transform: rotate(-25deg);
    }
}
