@import "../../variables.scss";

.tech-new {

    @media screen and (max-width: $vp-1024) {
        max-width: 120px;
    }

    @media screen and (max-width: $vp-768) {
        order: 3;
        max-width: 100%;
    }
    
    &__title {
        position: relative;
        display: inline-block;
        margin: 0;
        margin-bottom: 45px;
        font-size: 28px;
        font-weight: 500;

        @media screen and (max-width: $vp-1024) {
            font-size: 24px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-type: none;

        @media screen and (max-width: $vp-1024) {
            font-size: 18px;
        }
    }
}

.tech-new__title--animated {
 
    &::after {
        position: absolute;
        content: '';
        background: -webkit-linear-gradient(45deg, #9f007f, #01cb7a 90%);
        left: 0;
        bottom: -15px;
        width: 0;
        height: 3px;
        animation-name: line-appearing;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
}

@keyframes line-appearing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
