.header {
    padding: 50px 30px;
}

.header__inner {
    margin: 0 auto;
    max-width: 1280px;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
}

.header__nav-link {
    color: inherit;
    text-decoration: none;
}
