@import "../../variables.scss";

.icon {
    width: 55px;
    height: 55px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: $vp-1024) {
        width: 45px;
        height: 45px;
    }

    &:hover {
        color: #F0DB4F;
        transition: all 0.3s ease-in-out;
    }
}

.icon.icon--animated{
    animation-name: coloring-js;
    animation-delay: 1.8s;
    animation-duration: 2s;
}

@keyframes coloring-js {
    0% {
        color: #ffffff;
    }
    100% {
        color: #F0DB4F;
    }
}
